body, ul {
  margin: 0px;
  padding: 0px;
}

a {
  color: #cfb724;
  text-decoration: none;
  font-family: Sans-Serif;
}

a:hover {
  background: rgba (0, 0, 0, .05);
}

#logo {
  font-size: 1.5rem;
}

#header {
  box-sizing: border-box;
  height: 130px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  border-bottom: 2px solid #000;
}

#img {
  width: 150px;
  height: auto;
}

#menu {
  display: flex;
  list-style: none;
  gap: .5rem;
}

#menu a {
  display: block;
  padding: .5rem;
}

#btn {
  display: none;
}

@media (max-width: 999px) {
  #img {
    width: 130px;
    height: auto;
  }
  
  #btn {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
  }
  
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 130px;
    right: 0px;
    height: 0px;
    background: #000;
    z-index: 1000;
    transition: .8s;
    visibility: hidden;
    overflow-y: hidden;
    font-size: 60px;
  }
  
  #nav.active #menu {
    height: calc(100vh - 130px);
    visibility: visible;
    overflow-y: auto;
  }
  
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid #cdcdcd;
  }
  
  #bot {
    display: block;
    width: 60px;
    border-top: 4px solid #cfb724;
  }
  
  #bot::after, #bot::before {
    content: '';
    display: block;
    width: 60px;
    border-top: 4px solid #cfb724;
    margin-top: 8px;
    transition: .5s;
    position: relative;
  }
  
  #nav.active #bot {
    border-top-color: transparent;
  }
  
  #nav.active #bot::before {
    transform: rotate(135deg);
  }
  
  #nav.active #bot::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}